* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: none;
    align-items: center;
    justify-content: center;

    background: rgba(0,0,0,0.45);
}

#tablet {
    width: 1200px;
    height: 700px;

    background: #111;
    border-radius: 30px;

    border: 15px solid #000;

    overflow: hidden;

    animation: abrir .25s ease;

    box-shadow: 0 0 50px #000;
}

.topbar {
    width: 100%;
    height: 50px;

    background: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    color: white;
    font-size: 18px;
    font-weight: bold;
}

#fechar {
    background: red;
    border: 0;

    color: white;

    width: 120px;
    height: 35px;

    border-radius: 10px;

    cursor: pointer;

    transition: .2s;
}

#fechar:hover {
    transform: scale(1.05);
}

iframe {
    width: 100%;
    height: calc(100% - 50px);

    border: none;

    background: white;
}

@keyframes abrir {
    from {
        transform: scale(.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
